@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000; }

.avatar {
  width: 40px;
  border-radius: 50%; }

.avatar-large {
  width: 56px;
  border-radius: 50%; }

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid; }

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid; }

.navbar-lewagon {
  justify-content: space-between;
  background: white; }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0; }

.navbar-lewagon .navbar-brand img {
  width: 40px; }

.navbar-lewagon {
  background-color: black;
  position: relative; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: 'Orbitron', sans-serif; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #00c2ff; }

.navbar .snlogo {
  width: 30%;
  position: absolute;
  left: 35%; }

body {
  background-image: url("../images/car-bg.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif; }

header {
  min-height: 100vh; }

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px; }

.highlight {
  background-color: #00c2ff;
  color: white;
  padding: 1rem;
  text-decoration: none;
  border-radius: 20px; }
  .highlight:hover {
    color: white;
    text-decoration: none;
    background-color: #EA15D1;
    transition: 0.5s; }

.active {
  font-weight: bold; }

.content {
  font-size: 1.5em;
  margin: auto;
  color: white;
  max-width: 60%;
  text-align: center;
  -webkit-text-stroke: 1px black;
  margin-top: 150px;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 5px 30px 5px;
  border-radius: 30px; }

.container h1 {
  color: #00c2ff;
  -webkit-text-stroke: 1px black; }

header .container {
  margin: auto 0; }

footer {
  background-color: black;
  height: 100px;
  width: 100%;
  color: white;
  padding: 15px;
  border-top: 2px solid #00c2ff; }

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0; }

footer strong {
  color: #00c2ff; }

footer p {
  margin: 0; }

li {
  vertical-align: middle;
  text-align: center; }
