<div class="container">
  <div class="row justify-content-center">

    <header>
    <div class="container">
      <div class="content">
        <h1>Cruise Tokyo in Style</h1>
        <p>Rent authentic race cars</p>
        <a class="highlight" href="#">Learn More</a>
      </div>
    </div>
    </header>

  </div>
</div>
    <footer>
      <ul>
        <li>
          <strong>Our Location</strong>
          <p>2-12-21 Shinjuku</p>
        </li>
        <li>
          <strong>Phone</strong>
          <p>0123-456-798</p>
        </li>
        <li>
          <strong>Email</strong>
          <p>gvholley@gmail.com</p>
        </li>
      </ul>
    </footer>
